<footer class="container py-10 py-md-11 d-flex flex-column flex-md-row justify-content-md-between align-items-md-center">
  <div class="mb-2 mb-md-0">
    <h2>
      <a href="index.html" class="font-shrikhand fs-5 link-black hover-primary">ALPHABOX+</a>
    </h2>
    <p class="fw-bold d-none d-md-block">Copyright © 2023 Hexschool.</p>
  </div>
  <span class="material-symbols-outlined display-fs-3 mb-1 mb-md-0">emergency</span>
  <ul class="nav flex-column flex-md-row mb-2 mb-md-0">
    <li class="nav-item">
      <a class="nav-link px-0 px-md-3 py-1 py-md-2" href="about.html">關於我們</a>
    </li>
    <li class="nav-item">
      <a class="nav-link px-0 px-md-3 py-1 py-md-2" href="#">產品資訊</a>
    </li>
    <li class="nav-item">
      <a class="nav-link px-0 px-md-3 py-1 py-md-2" href="#">常見問題</a>
    </li>
    <li class="nav-item">
      <a class="nav-link px-0 ps-md-3 py-1 py-md-2" href="#">隱私政策</a>
    </li>
  </ul>
  <p class="fw-bold d-md-none">Copyright © 2023 Hexschool.</p>
</footer>